//====================================================================================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	&._scroll {
		.header__wrapper {
			background-color: rgb(6, 6, 6, 0.9);
			height: 70px;

			@media (max-width: $mobile){
				height: 50px;
			}
		}

		.header__logo {
			padding: 0 0 45px 150px;

			@media (max-width: $mobile){
				padding: 0 0 30px 110px;
			}

			@media (max-width: $mobileSmall){
				padding: 0 0 29px 70px;
			}
		}
	}

	// .header__wrapper

	&__wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: inherit;
		@include adaptiv-value('height', 196, 100, 1);
		display: flex;
		align-items: center;
		z-index: 7;
		transition: all 0.3s ease 0s;
		
		.menu-open & {
			height: 100px;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgb(6, 6, 6, 0.9);
				z-index: 6;
			}
		}
		@media (max-height: 465px) {
			height: 70px;
			background-color: rgb(6, 6, 6, 0.9);
		}
	}

	// .header__container

	&__container {
		width: 100%;
	}

	// .header__body

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	// .header__logo

	&__logo {
		padding: 0 0 60px 204px;
		position: relative;
		z-index: 6;
		@include adaptiv-value('margin-right', 90, 15, 1);
		transition: all 0.3s ease 0s;

		@media (max-width: $mobile){
			padding: 0 0 40px 140px;
		}

		@media (max-width: $mobileSmall){
			flex: 0 0 99px;
			padding: 0 0 29px 0;
		}
	}

	// .header__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: end;

		@media (min-width: rem(1100)){
			justify-content: space-between;
		}

		@media (min-width: $tablet){
			align-self: flex-start;
		}
		@media (min-width: $mobile){
			flex: 1 1 auto;
		}
	}

	// .header__menu

	&__menu {
		@media (min-width: rem(1100)){
			flex: 1 1 auto;
		}
	}

	// .header__actions

	&__actions {
		@media (min-width: $mobile){
			flex: 0 0 78px;
		}
	}

	// .header__lang

	&__lang {
		font-family: Averta;
		@include adaptiv-value('margin-right', 45, 0, 1);
		display: flex;
		align-items: center;
		font-weight: 700;
		line-height: 140%;
		position: relative;
		z-index: 6;
		color: inherit;
		
		.menu-open & {
			display: none;
		}

		& span {
			cursor: pointer;
			font-weight: 700;
			font-size: rem(15);
			line-height: 140%;
			margin: 0 16px 0 0;	

			@media (min-width: rem(1100)){
				margin: 0 6px 0 0;
			}

			@media (max-width: $mobile){
				color: #0E0E0E;
				font-weight: 600;
				line-height: 151%;
				padding: 9px 10px;
				border-radius: 50%;
				background-color: #fff;
				position: relative;
				z-index: 4;
			}
		}

		@media (any-hover: none) {
			&._hover {
				.header__arrow {
					transform: rotate(-180deg);
				}
	
				.header__lang-list {
					z-index: 2;
					transform: translate(0, 0);
					opacity: 1;
					visibility: visible;
				}
			}	
		}

		@media (any-hover: hover) {
			&:hover {
				.header__arrow {
					transform: rotate(-180deg);
				}

				.header__lang-list {
					z-index: 2;
					transform: translate(0, 0);
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}

	// .header__arrow

	&__arrow {
		cursor: pointer;
		flex: 0 0 8px;
		margin: 2px 0 0 0;
		transition: all 0.3s ease 0s;
		&::before {
			font-weight: 900;
			color: #8E8E8E;
			font-size: rem(15);
		}
		@media (max-width: $mobile){
			display: none;
		}
	}
	// .header__lang-list

	&__lang-list {
		position: absolute;
		top: 100%;
		left: 0;
		display: flex;
		flex-direction: column;
		padding: 5px 0 0 0;
		z-index: -1;
		transform: translate(0, -100%);
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;

		@media (max-width: $mobile){
			z-index: 1;
			background-color: #fff;
			top: 50%;
			padding: 20px 0 0 0;
			border-radius: 10px;
		}
	}

	// .header__lang-item

	&__lang-item {
		
	}

	// .header__lang-link

	&__lang-link {
		font-weight: 700;
		font-size: rem(15);
		line-height: 140%;
		transition: color 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}
		@media (max-width: $mobile){
				color: #0E0E0E;
				font-weight: 600;
				line-height: 151%;
				padding: 9px 10px;
				border-radius: 50%;
			}
	}
}

.menu {
	@media (min-width: rem(1100)){
		@include adaptiv-value('margin-right', 50, 0, 1);
	}
	// .menu__body

	&__body {
		@media (max-width: rem(1100)){
			position: fixed;
			top: -100%;
			left: 0;
			width: 100%;
			height: 100%;
			background: #060606;
			z-index: 5;
			transition: all 0.3s ease 0s;
			overflow: auto;

			.menu-open & {
				top: 0;
			}
		}
	}
	// .menu__list

	&__list {
		display: flex;

		@media (min-width: rem(1100)){
			justify-content: space-between;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 10px;
		}
		@media (max-width: rem(1100)){
			@include adaptiv-value('padding-top', 86, 68, 1);
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			padding: 0 61px;
		}
	}

	// .menu__item

	&__item {
		.menu-open &{
			padding: 40px 0;
			position: relative;

			&:not(:last-child) {
				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: rgba(255, 255, 255, 0.25);
				}
			}
		}
	}

	// .menu__link

	&__link {
		position: relative;
		vertical-align: middle;
		border: 0;
		box-sizing: border-box;
		font-family: Arial, Helvetica, sans-serif;
		color: inherit;
		font-size: rem(15);
		line-height: 140%;

		@media (min-width: rem(1100)){
			border-radius: 10px;
			transition: color 0.3s;
			padding: 8px 17px;

			&_active {
				outline: 2px solid #BA111A;
			}
		}
		
		@media (any-hover: hover) {
				&::before,
				&::after {
					border-radius: 10px;
					box-sizing: inherit;
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					transition: transform 0.3s;
				}
		
				&::before,
				&::after {
				content: "";
				border: 2px solid transparent;
				width: 0;
				height: 0;
			}

			&::before,
			&::after {
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				transform-origin: center; // Ensure scaling is done from the center (expands outwards)
			}

			// scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
			&::before {
				border-top: 2px solid #BA111A;
				border-bottom: 2px solid #BA111A;
				transform: scale3d(0,1,1); // Shrink only width
			}

			&::after {
				border-left: 2px solid #BA111A;
				border-right: 2px solid #BA111A;
				transform: scale3d(1,0,1); // Shrink only height
			}

			&:hover::before,
			&:hover::after {
				transform: scale3d(1,1,1); // Show full-size
			}
		}

		@media (max-width: rem(1100)){
			font-size: rem(16);
			&:not(:last-child) {
				margin: 0 0 em(15) 0;
			}

			&_active {
				font-weight: 600;
			}
		}
	}
}

.icon-menu {
}
.menu-icon {
}
.actions-header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	@media (min-width: $mobile){
		@include adaptiv-value('margin-right', 40, 17, 1);
		justify-content: space-between;
	}

	// .actions-header__item

	&__item {
		flex: 0 0 14px;
		font-size: em(15);
		color: inherit;
		transition: color 0.3s ease 0s;
		cursor: pointer;

		@media (any-hover: hover) {
			&:hover {
				color: $redColor;
			}
		}

		@media (max-width: $mobile){
			&:not(.actions-header__item_phone) {
				display: none;
			}
		}

		&_phone {
			color: $redColor;
			@media (any-hover: hover) {
				&:hover {
					color: #c00e17;
				}
			}

			@media (max-width: $mobile){
				color: #fff;
				padding: 13px;
				background-color: $redColor;
				border-radius: 50%;
				margin: 0 16px 0 0;
				display: none;

				.menu-open & {
					position: relative;
					z-index: 6;
					display: block !important;
				}
			}
		}

	}
}


//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: rem(1100)) {
		z-index: 6;
		cursor: pointer;
		margin: 0 10px;
		position: relative;
		display: block;
		border-radius: 50%;
		flex: 0 0 42px;
		width: 42px;
		height: rem(42);
		background-color: $redColor;

		&__body {
			position: absolute;
			top: 15px;
			left: 12px;
			width: rem(17);
			height: rem(11);
			z-index: 5;
			span,
			&::before,
			&::after {
				content: "";
				transition: all 0.3s ease 0s;
				right: 0;
				position: absolute;
				width: 17px;
				height: rem(2);
				border-radius: 33px;
				background-color: #fff;
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			span {
				top: calc(50% - rem(1));
			}
			.menu-open & {
				span {
					width: 0;
				}
				&::before,
				&::after {
				}
				&::before {
					top: calc(50% - rem(1));
					transform: rotate(-45deg);
				}
				&::after {
					bottom: calc(50% - rem(1));
					transform: rotate(45deg);
				}
			}
		}
	}
}

