.main-title {
  font-family: BebasNeuePro;
  font-style: italic;
  font-weight: 700;
  @include adaptiv-value('font-size', 80, 32, 1);
  line-height: 110%;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  @media (max-width: $mobile){
    line-height: 140%;
  }

  & span {
    color: $redLight;
    @include adaptiv-value('font-size', 100, 60, 1);
  }
}
.btn {
  font-family: BebasNeuePro;
  font-weight: 700;
  font-size: rem(25);
  line-height: 84%;
  background-color: $redColor;
  @include adaptiv-value('width', 207, 153, 1);
  @include adaptiv-value('height', 59, 43, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #9e080f;
    }
  }
  &_not-bg {
    outline: 2px solid #707070;
    background-color: inherit;

    @media (any-hover: hover) {
      &:hover {
        background-color: $redColor;
        outline: none;
      }
    }
  }  
}

.slider-arrows {
  pointer-events: none;
}
.slider {

  // .slider__arrow

  &__arrow {
   
  }
}
.slider-arrow {
  pointer-events: auto;
  cursor: pointer;
  font-size: rem(22);
  font-weight: 700;
  color: #8E8E8E;
  transition: color 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      color: $redColor;
    }
  };
  // .slider-arrow_prew

  &_prev {
    transform: rotate(90deg);
  }

  // .slider-arrow_next

  &_next {
    transform: rotate(-90deg);
  }
}

._title {
  font-family: BebasNeuePro;
  font-style: italic;
  font-weight: 700;
  @include adaptiv-value('font-size', 80, 32, 1);
  line-height: 115%;
  text-transform: uppercase;
  background: linear-gradient(89.66deg, #FFFFFF 59.67%, #EBDDDD 103.39%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  white-space: nowrap;
}

._tab-img {
  display: none;
}